In [1]:
import pandas as pd
a=pd.Series([1,2,3])

In [2]:
print(a)

0    1
1    2
2    3
dtype: int64

In [5]:
b=pd.Series([12,2,2,22],index=["a","b","c","d"])

In [6]:
b

a    12
b     2
c     2
d    22
dtype: int64

In [7]:
c=pd.Series({"a":10,"b":20,"c":30,"d":40})

In [8]:
c

a    10
b    20
c    30
d    40
dtype: int64

In [10]:
c=pd.Series({"a":10,"b":20,"c":30,"d":40},index=["d","e","a","b","c"])

In [11]:
c

d    40.0
e     NaN
a    10.0
b    20.0
c    30.0
dtype: float64

In [15]:
b[0:3]

a    12
b     2
c     2
dtype: int64

In [17]:
b[-1::-1]

d    22
c     2
b     2
a    12
dtype: int64

In [22]:
s1=pd.Series([1,2,3,4,5,6,7,8])
s2=pd.Series([2,3,4,5,6,7,8,9])

In [23]:
s1+s2

0     3
1     5
2     7
3     9
4    11
5    13
6    15
7    17
dtype: int64

In [24]:
s1*5

0     5
1    10
2    15
3    20
4    25
5    30
6    35
7    40
dtype: int64

In [25]:
s1-10

0   -9
1   -8
2   -7
3   -6
4   -5
5   -4
6   -3
7   -2
dtype: int64

In [26]:
s1+100

0    101
1    102
2    103
3    104
4    105
5    106
6    107
7    108
dtype: int64

In [27]:
pd.DataFrame({"name":['sandy','pooja','minku'],"marks":[20,30,40]})

    name  marks
0  sandy     20
1  pooja     30
2  minku     40