In [1]:
import pandas as pd
import numpy as np

In [2]:
series=pd.Series(np.random.rand(10))

In [3]:
series

0    0.760027
1    0.236274
2    0.045056
3    0.698989
4    0.162952
5    0.933200
6    0.789528
7    0.698673
8    0.125875
9    0.244361
dtype: float64

In [4]:
type(series)

pandas.core.series.Series

In [18]:
df=pd.DataFrame(np.random.rand(444,10),index=np.arange(444))

In [19]:
df

,0,1,2,3,4,5,6,7,8,9
0,0.433800,0.421281,0.244611,0.307098,0.610729,0.894644,0.017900,0.104352,0.722917,0.579754
1,0.988767,0.505303,0.908673,0.640153,0.124819,0.963949,0.333114,0.558304,0.093731,0.249366
2,0.021408,0.436447,0.094590,0.914505,0.857637,0.028943,0.694315,0.689316,0.853591,0.812431
3,0.113821,0.898396,0.901446,0.718673,0.878485,0.059052,0.157118,0.113225,0.289498,0.947441
4,0.448277,0.667828,0.626610,0.861404,0.100186,0.693939,0.555064,0.738490,0.287397,0.097191
...,...,...,...,...,...,...,...,...,...,...
439,0.260363,0.077710,0.263863,0.717910,0.210479,0.621630,0.114091,0.319698,0.723810,0.275480
440,0.775572,0.110352,0.908683,0.476713,0.216478,0.461850,0.696601,0.230427,0.153261,0.409006
441,0.433853,0.035438,0.691420,0.295430,0.909855,0.195978,0.415472,0.727990,0.114319,0.246663
442,0.099796,0.230397,0.134019,0.198831,0.749351,0.010538,0.706376,0.766172,0.239256,0.906320
443,0.233497,0.376729,0.970322,0.840117,0.953260,0.581188,0.612915,0.161890,0.299395,0.899230

In [20]:
df.describe()

,0,1,2,3,4,5,6,7,8,9
count,444.000000,444.000000,444.000000,444.000000,444.000000,444.000000,444.000000,444.000000,444.000000,444.000000
mean,0.495272,0.476689,0.494395,0.468042,0.502942,0.483207,0.511081,0.484020,0.502651,0.499859
std,0.277683,0.288825,0.282467,0.288335,0.286302,0.302257,0.297285,0.282557,0.298662,0.285483
min,0.000600,0.000240,0.001327,0.002763,0.001042,0.003238,0.000565,0.010225,0.001233,0.004699
25%,0.266102,0.224077,0.251051,0.223298,0.234826,0.209546,0.242982,0.232855,0.237902,0.246503
50%,0.487900,0.466998,0.493382,0.436021,0.512707,0.470463,0.527373,0.474485,0.522450,0.510904
75%,0.734975,0.709365,0.735991,0.712573,0.762918,0.746681,0.778841,0.721241,0.764648,0.743957
max,0.993874,0.997651,0.986118,0.998773,0.995206,0.999821,0.996858,0.994313,0.994258,0.999421

In [21]:
df[0][0]=0.1

In [22]:
df.head(5)

,0,1,2,3,4,5,6,7,8,9
0,0.100000,0.421281,0.244611,0.307098,0.610729,0.894644,0.017900,0.104352,0.722917,0.579754
1,0.988767,0.505303,0.908673,0.640153,0.124819,0.963949,0.333114,0.558304,0.093731,0.249366
2,0.021408,0.436447,0.094590,0.914505,0.857637,0.028943,0.694315,0.689316,0.853591,0.812431
3,0.113821,0.898396,0.901446,0.718673,0.878485,0.059052,0.157118,0.113225,0.289498,0.947441
4,0.448277,0.667828,0.626610,0.861404,0.100186,0.693939,0.555064,0.738490,0.287397,0.097191

In [23]:
type(df)

pandas.core.frame.DataFrame

In [24]:
df.dtypes

0    float64
1    float64
2    float64
3    float64
4    float64
5    float64
6    float64
7    float64
8    float64
9    float64
dtype: object

In [25]:
df.index

Index([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,
       ...
       434, 435, 436, 437, 438, 439, 440, 441, 442, 443],
      dtype='int32', length=444)

In [26]:
df.columns

RangeIndex(start=0, stop=10, step=1)

In [14]:
df.to_numpy()

array([[0.1       ],
       [0.22855923],
       [0.52344   ],
       [0.4613903 ],
       [0.28692245],
       [0.77201677],
       [0.02090432],
       [0.28949041],
       [0.8198611 ],
       [0.76486337],
       [0.120996  ],
       [0.3016939 ],
       [0.15538103],
       [0.34284505],
       [0.29953748],
       [0.78145348],
       [0.12956768],
       [0.27844027],
       [0.40815654],
       [0.7341272 ],
       [0.79035523],
       [0.01943972],
       [0.84305185],
       [0.97049875],
       [0.19592534],
       [0.64911061],
       [0.40019235],
       [0.95531203],
       [0.74668702],
       [0.43370721],
       [0.3246046 ],
       [0.51317879],
       [0.09395713],
       [0.67014336],
       [0.09406063],
       [0.04692269],
       [0.89916111],
       [0.14095382],
       [0.88919326],
       [0.45062394],
       [0.74496877],
       [0.9573654 ],
       [0.53101408],
       [0.32755484],
       [0.61273498],
       [0.7104583 ],
       [0.66080554],
       [0.1731479 ],
       [0.07513713],
       [0.9715636 ],
       [0.5338435 ],
       [0.61223599],
       [0.07609429],
       [0.02063521],
       [0.33322528],
       [0.03372388],
       [0.71795009],
       [0.36053598],
       [0.45997851],
       [0.20203409],
       [0.3654212 ],
       [0.37027689],
       [0.76322442],
       [0.52394767],
       [0.43385575],
       [0.8086016 ],
       [0.60057662],
       [0.16175415],
       [0.23645281],
       [0.66082418],
       [0.78890711],
       [0.78089997],
       [0.97461535],
       [0.2049737 ],
       [0.50958663],
       [0.28183951],
       [0.97797855],
       [0.79127308],
       [0.71026014],
       [0.08530508],
       [0.70991997],
       [0.70066586],
       [0.65057659],
       [0.4544446 ],
       [0.99099588],
       [0.8366051 ],
       [0.07817672],
       [0.38132332],
       [0.60183168],
       [0.13653443],
       [0.8309742 ],
       [0.43020757],
       [0.99480303],
       [0.58230866],
       [0.03392726],
       [0.65957114],
       [0.04976568],
       [0.82687036],
       [0.47092789],
       [0.09864935],
       [0.92632528],
       [0.73942544],
       [0.78435275],
       [0.59036556],
       [0.11272349],
       [0.87464546],
       [0.21274469],
       [0.98448655],
       [0.64176019],
       [0.84415851],
       [0.97676154],
       [0.15298476],
       [0.27931299],
       [0.58456737],
       [0.80875318],
       [0.68949876],
       [0.76700972],
       [0.90483797],
       [0.95825801],
       [0.41472857],
       [0.6646427 ],
       [0.56008747],
       [0.02393464],
       [0.90081826],
       [0.04253466],
       [0.33737119],
       [0.1159423 ],
       [0.25987508],
       [0.77645302],
       [0.34302334],
       [0.47246831],
       [0.73639886],
       [0.16712349],
       [0.99586193],
       [0.9931314 ],
       [0.96517859],
       [0.56042948],
       [0.94107657],
       [0.38085515],
       [0.1770997 ],
       [0.35021329],
       [0.93864229],
       [0.41007949],
       [0.94463119],
       [0.35083077],
       [0.47069725],
       [0.56727842],
       [0.44755867],
       [0.00554131],
       [0.85010938],
       [0.26717918],
       [0.05608366],
       [0.81455108],
       [0.66234285],
       [0.5043753 ],
       [0.87575699],
       [0.21897596],
       [0.49549826],
       [0.51218156],
       [0.15147184],
       [0.35212751],
       [0.68486924],
       [0.99366536],
       [0.14272702],
       [0.10585862],
       [0.97304791],
       [0.27413275],
       [0.12170221],
       [0.44378291],
       [0.92628689],
       [0.82805897],
       [0.76749472],
       [0.07494492],
       [0.44542587],
       [0.83396409],
       [0.14762771],
       [0.28436563],
       [0.431711  ],
       [0.12212199],
       [0.22609087],
       [0.98167135],
       [0.74213367],
       [0.73747238],
       [0.7513151 ],
       [0.8780211 ],
       [0.31843808],
       [0.73549463],
       [0.62669486],
       [0.26861659],
       [0.12215491],
       [0.06553073],
       [0.84779081],
       [0.46819513],
       [0.13946913],
       [0.720824  ],
       [0.76252179],
       [0.26318998],
       [0.27482848],
       [0.62876562],
       [0.31729725],
       [0.48440704],
       [0.29818607],
       [0.24655214],
       [0.90254678],
       [0.82789413],
       [0.5763791 ],
       [0.5864415 ],
       [0.23830128],
       [0.71704242],
       [0.40839616],
       [0.24631168],
       [0.79121414],
       [0.21149186],
       [0.26399297],
       [0.07504269],
       [0.879093  ],
       [0.91234782],
       [0.58524567],
       [0.96406284],
       [0.01969688],
       [0.87283459],
       [0.73482444],
       [0.72878536],
       [0.86789039],
       [0.06624271],
       [0.45011037],
       [0.42706281],
       [0.8633767 ],
       [0.86561421],
       [0.37467327],
       [0.19579739],
       [0.18336918],
       [0.07685465],
       [0.9955423 ],
       [0.79910355],
       [0.83272844],
       [0.654932  ],
       [0.83566723],
       [0.60596877],
       [0.73513918],
       [0.39356401],
       [0.87885597],
       [0.64963815],
       [0.21052859],
       [0.69322459],
       [0.45658923],
       [0.53992843],
       [0.01678637],
       [0.7295441 ],
       [0.77869265],
       [0.79575024],
       [0.97990112],
       [0.59647214],
       [0.27285486],
       [0.8849239 ],
       [0.22874279],
       [0.6501619 ],
       [0.9033785 ],
       [0.50635167],
       [0.7264715 ],
       [0.65326096],
       [0.72852738],
       [0.85250874],
       [0.3733295 ],
       [0.93782996],
       [0.88039792],
       [0.10541498],
       [0.65383545],
       [0.12311521],
       [0.23225322],
       [0.05191143],
       [0.5592536 ],
       [0.13352297],
       [0.1032089 ],
       [0.398473  ],
       [0.63943608],
       [0.69027587],
       [0.49229678],
       [0.72375784],
       [0.17356586],
       [0.37907516],
       [0.06866268],
       [0.00519997],
       [0.57867306],
       [0.61207601],
       [0.14295873],
       [0.18177175],
       [0.54450083],
       [0.55064805],
       [0.53239587],
       [0.75209146],
       [0.46356534],
       [0.28928191],
       [0.19455037],
       [0.7997838 ],
       [0.81499364],
       [0.85935085],
       [0.45127565],
       [0.09682002],
       [0.08438534],
       [0.80955391],
       [0.9281517 ],
       [0.66353165],
       [0.37581114],
       [0.65044459],
       [0.12355692],
       [0.10771074],
       [0.49967725],
       [0.03652083],
       [0.52299201],
       [0.02992927],
       [0.78633104],
       [0.66459053],
       [0.9293545 ],
       [0.52300212],
       [0.18719282],
       [0.4766471 ],
       [0.99382449],
       [0.87757643],
       [0.94051375],
       [0.81985909],
       [0.30249569],
       [0.46316404],
       [0.29862616],
       [0.93674415],
       [0.14575426],
       [0.83957453],
       [0.5389278 ],
       [0.00294099],
       [0.97877661],
       [0.76286159],
       [0.24018666],
       [0.83381534],
       [0.84414612],
       [0.9587248 ],
       [0.55010271],
       [0.69529156],
       [0.57432398],
       [0.16450289],
       [0.42472081],
       [0.2069726 ],
       [0.8800074 ],
       [0.07587289],
       [0.32238019],
       [0.99242622],
       [0.47114591],
       [0.12384939],
       [0.43159115],
       [0.43920017],
       [0.68858239],
       [0.40519146],
       [0.01681527],
       [0.21750765],
       [0.4373792 ],
       [0.52132994],
       [0.23242499],
       [0.94791439],
       [0.39079799],
       [0.31122402],
       [0.23005615],
       [0.91616572],
       [0.63318718],
       [0.13487904],
       [0.82630113],
       [0.9640413 ],
       [0.99637836],
       [0.09815329],
       [0.21999819],
       [0.519258  ],
       [0.44635609],
       [0.15493722],
       [0.50236959],
       [0.64199665],
       [0.30477414],
       [0.38507812],
       [0.59221078],
       [0.01121252],
       [0.07755251],
       [0.66566358],
       [0.8157176 ],
       [0.56376606],
       [0.08328171],
       [0.56895219],
       [0.03929959],
       [0.57288115],
       [0.86549025],
       [0.69805769],
       [0.62770779],
       [0.049623  ],
       [0.30810383],
       [0.67754233],
       [0.05008544],
       [0.32622858],
       [0.82994995],
       [0.75591612],
       [0.13318053],
       [0.51748884],
       [0.65728934],
       [0.37147508],
       [0.20379244],
       [0.7487976 ],
       [0.60921626],
       [0.65182859],
       [0.32956945],
       [0.83656598],
       [0.92829284],
       [0.06746273],
       [0.72104961],
       [0.79377639],
       [0.1319307 ],
       [0.40684758],
       [0.66698623],
       [0.2805557 ],
       [0.6528389 ],
       [0.24049406],
       [0.89180281],
       [0.57669745],
       [0.45701538],
       [0.56253072],
       [0.48653505],
       [0.11738353],
       [0.29443192],
       [0.59982843],
       [0.05988824],
       [0.12827137],
       [0.99624657],
       [0.2023813 ],
       [0.19667667],
       [0.45849527],
       [0.66085941],
       [0.06564443],
       [0.06286   ],
       [0.88305212],
       [0.67622237],
       [0.60270852],
       [0.66083142],
       [0.14331049],
       [0.23352079],
       [0.22414156],
       [0.2420273 ],
       [0.26266129],
       [0.02942041],
       [0.60030454],
       [0.23027172]])

In [27]:
df.T

,0,1,2,3,4,5,6,7,8,9,...,434,435,436,437,438,439,440,441,442,443
0,0.100000,0.988767,0.021408,0.113821,0.448277,0.244698,0.866158,0.376238,0.396694,0.784871,...,0.295781,0.626737,0.211837,0.094609,0.908303,0.260363,0.775572,0.433853,0.099796,0.233497
1,0.421281,0.505303,0.436447,0.898396,0.667828,0.737513,0.243654,0.435205,0.211474,0.922692,...,0.152589,0.996221,0.329048,0.965592,0.232713,0.077710,0.110352,0.035438,0.230397,0.376729
2,0.244611,0.908673,0.094590,0.901446,0.626610,0.656931,0.352402,0.795123,0.892784,0.205010,...,0.649266,0.518416,0.821407,0.209149,0.839833,0.263863,0.908683,0.691420,0.134019,0.970322
3,0.307098,0.640153,0.914505,0.718673,0.861404,0.197967,0.251885,0.868165,0.639511,0.690541,...,0.899138,0.141009,0.042771,0.356771,0.852568,0.717910,0.476713,0.295430,0.198831,0.840117
4,0.610729,0.124819,0.857637,0.878485,0.100186,0.418276,0.296912,0.465144,0.349149,0.674403,...,0.754807,0.408588,0.524400,0.270358,0.454157,0.210479,0.216478,0.909855,0.749351,0.953260
5,0.894644,0.963949,0.028943,0.059052,0.693939,0.928330,0.449774,0.133316,0.759775,0.420850,...,0.140248,0.546142,0.941654,0.508369,0.051306,0.621630,0.461850,0.195978,0.010538,0.581188
6,0.017900,0.333114,0.694315,0.157118,0.555064,0.105182,0.615746,0.114560,0.485316,0.456847,...,0.017329,0.592710,0.612869,0.511648,0.841906,0.114091,0.696601,0.415472,0.706376,0.612915
7,0.104352,0.558304,0.689316,0.113225,0.738490,0.211401,0.982218,0.844243,0.744836,0.187440,...,0.668940,0.459164,0.836974,0.210569,0.646747,0.319698,0.230427,0.727990,0.766172,0.161890
8,0.722917,0.093731,0.853591,0.289498,0.287397,0.529216,0.951722,0.967258,0.982260,0.966619,...,0.046808,0.229155,0.532345,0.649325,0.890220,0.723810,0.153261,0.114319,0.239256,0.299395
9,0.579754,0.249366,0.812431,0.947441,0.097191,0.716522,0.104657,0.301867,0.393332,0.673088,...,0.308589,0.677567,0.419332,0.706730,0.429896,0.275480,0.409006,0.246663,0.906320,0.899230

In [28]:
df.head(5)

,0,1,2,3,4,5,6,7,8,9
0,0.100000,0.421281,0.244611,0.307098,0.610729,0.894644,0.017900,0.104352,0.722917,0.579754
1,0.988767,0.505303,0.908673,0.640153,0.124819,0.963949,0.333114,0.558304,0.093731,0.249366
2,0.021408,0.436447,0.094590,0.914505,0.857637,0.028943,0.694315,0.689316,0.853591,0.812431
3,0.113821,0.898396,0.901446,0.718673,0.878485,0.059052,0.157118,0.113225,0.289498,0.947441
4,0.448277,0.667828,0.626610,0.861404,0.100186,0.693939,0.555064,0.738490,0.287397,0.097191

In [29]:
df.sort_index(axis=0,ascending=False)

,0,1,2,3,4,5,6,7,8,9
443,0.233497,0.376729,0.970322,0.840117,0.953260,0.581188,0.612915,0.161890,0.299395,0.899230
442,0.099796,0.230397,0.134019,0.198831,0.749351,0.010538,0.706376,0.766172,0.239256,0.906320
441,0.433853,0.035438,0.691420,0.295430,0.909855,0.195978,0.415472,0.727990,0.114319,0.246663
440,0.775572,0.110352,0.908683,0.476713,0.216478,0.461850,0.696601,0.230427,0.153261,0.409006
439,0.260363,0.077710,0.263863,0.717910,0.210479,0.621630,0.114091,0.319698,0.723810,0.275480
...,...,...,...,...,...,...,...,...,...,...
4,0.448277,0.667828,0.626610,0.861404,0.100186,0.693939,0.555064,0.738490,0.287397,0.097191
3,0.113821,0.898396,0.901446,0.718673,0.878485,0.059052,0.157118,0.113225,0.289498,0.947441
2,0.021408,0.436447,0.094590,0.914505,0.857637,0.028943,0.694315,0.689316,0.853591,0.812431
1,0.988767,0.505303,0.908673,0.640153,0.124819,0.963949,0.333114,0.558304,0.093731,0.249366
0,0.100000,0.421281,0.244611,0.307098,0.610729,0.894644,0.017900,0.104352,0.722917,0.579754

In [30]:
df.sort_index(axis=1,ascending=False)

,9,8,7,6,5,4,3,2,1,0
0,0.579754,0.722917,0.104352,0.017900,0.894644,0.610729,0.307098,0.244611,0.421281,0.100000
1,0.249366,0.093731,0.558304,0.333114,0.963949,0.124819,0.640153,0.908673,0.505303,0.988767
2,0.812431,0.853591,0.689316,0.694315,0.028943,0.857637,0.914505,0.094590,0.436447,0.021408
3,0.947441,0.289498,0.113225,0.157118,0.059052,0.878485,0.718673,0.901446,0.898396,0.113821
4,0.097191,0.287397,0.738490,0.555064,0.693939,0.100186,0.861404,0.626610,0.667828,0.448277
...,...,...,...,...,...,...,...,...,...,...
439,0.275480,0.723810,0.319698,0.114091,0.621630,0.210479,0.717910,0.263863,0.077710,0.260363
440,0.409006,0.153261,0.230427,0.696601,0.461850,0.216478,0.476713,0.908683,0.110352,0.775572
441,0.246663,0.114319,0.727990,0.415472,0.195978,0.909855,0.295430,0.691420,0.035438,0.433853
442,0.906320,0.239256,0.766172,0.706376,0.010538,0.749351,0.198831,0.134019,0.230397,0.099796
443,0.899230,0.299395,0.161890,0.612915,0.581188,0.953260,0.840117,0.970322,0.376729,0.233497

In [31]:
df[0]

0      0.100000
1      0.988767
2      0.021408
3      0.113821
4      0.448277
         ...
439    0.260363
440    0.775572
441    0.433853
442    0.099796
443    0.233497
Name: 0, Length: 444, dtype: float64

In [32]:
type(df[0])

pandas.core.series.Series

In [37]:
df2=df.copy()

In [38]:
df2[0][0]=89393284

In [40]:
df

,0,1,2,3,4,5,6,7,8,9
0,8.939328e+07,0.421281,0.244611,0.307098,0.610729,0.894644,0.017900,0.104352,0.722917,0.579754
1,9.887675e-01,0.505303,0.908673,0.640153,0.124819,0.963949,0.333114,0.558304,0.093731,0.249366
2,2.140841e-02,0.436447,0.094590,0.914505,0.857637,0.028943,0.694315,0.689316,0.853591,0.812431
3,1.138214e-01,0.898396,0.901446,0.718673,0.878485,0.059052,0.157118,0.113225,0.289498,0.947441
4,4.482765e-01,0.667828,0.626610,0.861404,0.100186,0.693939,0.555064,0.738490,0.287397,0.097191
...,...,...,...,...,...,...,...,...,...,...
439,2.603631e-01,0.077710,0.263863,0.717910,0.210479,0.621630,0.114091,0.319698,0.723810,0.275480
440,7.755723e-01,0.110352,0.908683,0.476713,0.216478,0.461850,0.696601,0.230427,0.153261,0.409006
441,4.338527e-01,0.035438,0.691420,0.295430,0.909855,0.195978,0.415472,0.727990,0.114319,0.246663
442,9.979577e-02,0.230397,0.134019,0.198831,0.749351,0.010538,0.706376,0.766172,0.239256,0.906320
443,2.334965e-01,0.376729,0.970322,0.840117,0.953260,0.581188,0.612915,0.161890,0.299395,0.899230

In [41]:
df.loc[0,0]=842094

In [42]:
df

,0,1,2,3,4,5,6,7,8,9
0,842094.000000,0.421281,0.244611,0.307098,0.610729,0.894644,0.017900,0.104352,0.722917,0.579754
1,0.988767,0.505303,0.908673,0.640153,0.124819,0.963949,0.333114,0.558304,0.093731,0.249366
2,0.021408,0.436447,0.094590,0.914505,0.857637,0.028943,0.694315,0.689316,0.853591,0.812431
3,0.113821,0.898396,0.901446,0.718673,0.878485,0.059052,0.157118,0.113225,0.289498,0.947441
4,0.448277,0.667828,0.626610,0.861404,0.100186,0.693939,0.555064,0.738490,0.287397,0.097191
...,...,...,...,...,...,...,...,...,...,...
439,0.260363,0.077710,0.263863,0.717910,0.210479,0.621630,0.114091,0.319698,0.723810,0.275480
440,0.775572,0.110352,0.908683,0.476713,0.216478,0.461850,0.696601,0.230427,0.153261,0.409006
441,0.433853,0.035438,0.691420,0.295430,0.909855,0.195978,0.415472,0.727990,0.114319,0.246663
442,0.099796,0.230397,0.134019,0.198831,0.749351,0.010538,0.706376,0.766172,0.239256,0.906320
443,0.233497,0.376729,0.970322,0.840117,0.953260,0.581188,0.612915,0.161890,0.299395,0.899230

In [43]:
df.head(4)

,0,1,2,3,4,5,6,7,8,9
0,842094.000000,0.421281,0.244611,0.307098,0.610729,0.894644,0.017900,0.104352,0.722917,0.579754
1,0.988767,0.505303,0.908673,0.640153,0.124819,0.963949,0.333114,0.558304,0.093731,0.249366
2,0.021408,0.436447,0.094590,0.914505,0.857637,0.028943,0.694315,0.689316,0.853591,0.812431
3,0.113821,0.898396,0.901446,0.718673,0.878485,0.059052,0.157118,0.113225,0.289498,0.947441

In [44]:
df.loc[[1,2],[3,4]]

          3         4
1  0.640153  0.124819
2  0.914505  0.857637

In [45]:
df.head(4)

,0,1,2,3,4,5,6,7,8,9
0,842094.000000,0.421281,0.244611,0.307098,0.610729,0.894644,0.017900,0.104352,0.722917,0.579754
1,0.988767,0.505303,0.908673,0.640153,0.124819,0.963949,0.333114,0.558304,0.093731,0.249366
2,0.021408,0.436447,0.094590,0.914505,0.857637,0.028943,0.694315,0.689316,0.853591,0.812431
3,0.113821,0.898396,0.901446,0.718673,0.878485,0.059052,0.157118,0.113225,0.289498,0.947441

In [46]:
df.loc[[1,2],:]

,0,1,2,3,4,5,6,7,8,9
1,0.988767,0.505303,0.908673,0.640153,0.124819,0.963949,0.333114,0.558304,0.093731,0.249366
2,0.021408,0.436447,0.094590,0.914505,0.857637,0.028943,0.694315,0.689316,0.853591,0.812431

In [49]:
df.loc[:,[3,4]]

            3         4
0    0.307098  0.610729
1    0.640153  0.124819
2    0.914505  0.857637
3    0.718673  0.878485
4    0.861404  0.100186
..        ...       ...
439  0.717910  0.210479
440  0.476713  0.216478
441  0.295430  0.909855
442  0.198831  0.749351
443  0.840117  0.953260

[444 rows x 2 columns]

In [55]:
df.loc[(df[3]<0.3)]

,0,1,2,3,4,5,6,7,8,9
5,0.244698,0.737513,0.656931,0.197967,0.418276,0.928330,0.105182,0.211401,0.529216,0.716522
6,0.866158,0.243654,0.352402,0.251885,0.296912,0.449774,0.615746,0.982218,0.951722,0.104657
12,0.594094,0.686419,0.747388,0.017868,0.115267,0.932729,0.125322,0.164003,0.472599,0.735717
15,0.024412,0.439680,0.432974,0.099401,0.867053,0.171806,0.832382,0.131497,0.099559,0.604897
16,0.220477,0.315288,0.932945,0.269802,0.571137,0.135552,0.527187,0.323868,0.386215,0.855256
...,...,...,...,...,...,...,...,...,...,...
433,0.965466,0.045661,0.289138,0.138677,0.259786,0.887941,0.743991,0.871663,0.214460,0.733622
435,0.626737,0.996221,0.518416,0.141009,0.408588,0.546142,0.592710,0.459164,0.229155,0.677567
436,0.211837,0.329048,0.821407,0.042771,0.524400,0.941654,0.612869,0.836974,0.532345,0.419332
441,0.433853,0.035438,0.691420,0.295430,0.909855,0.195978,0.415472,0.727990,0.114319,0.246663
442,0.099796,0.230397,0.134019,0.198831,0.749351,0.010538,0.706376,0.766172,0.239256,0.906320

In [56]:
df.iloc[0,5] #ye 0 index par 5va value likh dega

0.8946436091474179

In [57]:
df.head()

,0,1,2,3,4,5,6,7,8,9
0,842094.000000,0.421281,0.244611,0.307098,0.610729,0.894644,0.017900,0.104352,0.722917,0.579754
1,0.988767,0.505303,0.908673,0.640153,0.124819,0.963949,0.333114,0.558304,0.093731,0.249366
2,0.021408,0.436447,0.094590,0.914505,0.857637,0.028943,0.694315,0.689316,0.853591,0.812431
3,0.113821,0.898396,0.901446,0.718673,0.878485,0.059052,0.157118,0.113225,0.289498,0.947441
4,0.448277,0.667828,0.626610,0.861404,0.100186,0.693939,0.555064,0.738490,0.287397,0.097191

In [59]:
df.iloc[[0,4],[5,6]] #[0,4] yaha index value hai
                     #[5,6] yaha column value hai

          5         6
0  0.894644  0.017900
4  0.693939  0.555064

In [60]:
df.head(4)

,0,1,2,3,4,5,6,7,8,9
0,842094.000000,0.421281,0.244611,0.307098,0.610729,0.894644,0.017900,0.104352,0.722917,0.579754
1,0.988767,0.505303,0.908673,0.640153,0.124819,0.963949,0.333114,0.558304,0.093731,0.249366
2,0.021408,0.436447,0.094590,0.914505,0.857637,0.028943,0.694315,0.689316,0.853591,0.812431
3,0.113821,0.898396,0.901446,0.718673,0.878485,0.059052,0.157118,0.113225,0.289498,0.947441

In [61]:
df.drop([0]) #row drop krne k liye

,0,1,2,3,4,5,6,7,8,9
1,0.988767,0.505303,0.908673,0.640153,0.124819,0.963949,0.333114,0.558304,0.093731,0.249366
2,0.021408,0.436447,0.094590,0.914505,0.857637,0.028943,0.694315,0.689316,0.853591,0.812431
3,0.113821,0.898396,0.901446,0.718673,0.878485,0.059052,0.157118,0.113225,0.289498,0.947441
4,0.448277,0.667828,0.626610,0.861404,0.100186,0.693939,0.555064,0.738490,0.287397,0.097191
5,0.244698,0.737513,0.656931,0.197967,0.418276,0.928330,0.105182,0.211401,0.529216,0.716522
...,...,...,...,...,...,...,...,...,...,...
439,0.260363,0.077710,0.263863,0.717910,0.210479,0.621630,0.114091,0.319698,0.723810,0.275480
440,0.775572,0.110352,0.908683,0.476713,0.216478,0.461850,0.696601,0.230427,0.153261,0.409006
441,0.433853,0.035438,0.691420,0.295430,0.909855,0.195978,0.415472,0.727990,0.114319,0.246663
442,0.099796,0.230397,0.134019,0.198831,0.749351,0.010538,0.706376,0.766172,0.239256,0.906320
443,0.233497,0.376729,0.970322,0.840117,0.953260,0.581188,0.612915,0.161890,0.299395,0.899230

In [63]:
df.drop([1,2],axis=1) #column drop krne k liye axis = 1 likhn pdega

,0,3,4,5,6,7,8,9
0,842094.000000,0.307098,0.610729,0.894644,0.017900,0.104352,0.722917,0.579754
1,0.988767,0.640153,0.124819,0.963949,0.333114,0.558304,0.093731,0.249366
2,0.021408,0.914505,0.857637,0.028943,0.694315,0.689316,0.853591,0.812431
3,0.113821,0.718673,0.878485,0.059052,0.157118,0.113225,0.289498,0.947441
4,0.448277,0.861404,0.100186,0.693939,0.555064,0.738490,0.287397,0.097191
...,...,...,...,...,...,...,...,...
439,0.260363,0.717910,0.210479,0.621630,0.114091,0.319698,0.723810,0.275480
440,0.775572,0.476713,0.216478,0.461850,0.696601,0.230427,0.153261,0.409006
441,0.433853,0.295430,0.909855,0.195978,0.415472,0.727990,0.114319,0.246663
442,0.099796,0.198831,0.749351,0.010538,0.706376,0.766172,0.239256,0.906320
443,0.233497,0.840117,0.953260,0.581188,0.612915,0.161890,0.299395,0.899230

In [64]:
df.head(4)

,0,1,2,3,4,5,6,7,8,9
0,842094.000000,0.421281,0.244611,0.307098,0.610729,0.894644,0.017900,0.104352,0.722917,0.579754
1,0.988767,0.505303,0.908673,0.640153,0.124819,0.963949,0.333114,0.558304,0.093731,0.249366
2,0.021408,0.436447,0.094590,0.914505,0.857637,0.028943,0.694315,0.689316,0.853591,0.812431
3,0.113821,0.898396,0.901446,0.718673,0.878485,0.059052,0.157118,0.113225,0.289498,0.947441

In [68]:
df.drop([3,4],axis=0,inplace=True) #axis=0 krne pr ye row uda dega
                                   #inplace=True likhne par yeh permantly changes kar dega

In [69]:
df

,0,1,2,3,4,5,6,7,8,9
0,842094.000000,0.421281,0.244611,0.307098,0.610729,0.894644,0.017900,0.104352,0.722917,0.579754
2,0.021408,0.436447,0.094590,0.914505,0.857637,0.028943,0.694315,0.689316,0.853591,0.812431
5,0.244698,0.737513,0.656931,0.197967,0.418276,0.928330,0.105182,0.211401,0.529216,0.716522
7,0.376238,0.435205,0.795123,0.868165,0.465144,0.133316,0.114560,0.844243,0.967258,0.301867
8,0.396694,0.211474,0.892784,0.639511,0.349149,0.759775,0.485316,0.744836,0.982260,0.393332
...,...,...,...,...,...,...,...,...,...,...
439,0.260363,0.077710,0.263863,0.717910,0.210479,0.621630,0.114091,0.319698,0.723810,0.275480
440,0.775572,0.110352,0.908683,0.476713,0.216478,0.461850,0.696601,0.230427,0.153261,0.409006
441,0.433853,0.035438,0.691420,0.295430,0.909855,0.195978,0.415472,0.727990,0.114319,0.246663
442,0.099796,0.230397,0.134019,0.198831,0.749351,0.010538,0.706376,0.766172,0.239256,0.906320
443,0.233497,0.376729,0.970322,0.840117,0.953260,0.581188,0.612915,0.161890,0.299395,0.899230

In [71]:
df.reset_index() #esa krne se dubara se index reset hokar aajayega

,index,0,1,2,3,4,5,6,7,8,9
0,0,842094.000000,0.421281,0.244611,0.307098,0.610729,0.894644,0.017900,0.104352,0.722917,0.579754
1,2,0.021408,0.436447,0.094590,0.914505,0.857637,0.028943,0.694315,0.689316,0.853591,0.812431
2,5,0.244698,0.737513,0.656931,0.197967,0.418276,0.928330,0.105182,0.211401,0.529216,0.716522
3,7,0.376238,0.435205,0.795123,0.868165,0.465144,0.133316,0.114560,0.844243,0.967258,0.301867
4,8,0.396694,0.211474,0.892784,0.639511,0.349149,0.759775,0.485316,0.744836,0.982260,0.393332
...,...,...,...,...,...,...,...,...,...,...,...
435,439,0.260363,0.077710,0.263863,0.717910,0.210479,0.621630,0.114091,0.319698,0.723810,0.275480
436,440,0.775572,0.110352,0.908683,0.476713,0.216478,0.461850,0.696601,0.230427,0.153261,0.409006
437,441,0.433853,0.035438,0.691420,0.295430,0.909855,0.195978,0.415472,0.727990,0.114319,0.246663
438,442,0.099796,0.230397,0.134019,0.198831,0.749351,0.010538,0.706376,0.766172,0.239256,0.906320
439,443,0.233497,0.376729,0.970322,0.840117,0.953260,0.581188,0.612915,0.161890,0.299395,0.899230

In [72]:
df.reset_index(drop=True,inplace=True)

In [74]:
df #drop=true karne par wo purane wale index ko uda dega ko uda dega

,0,1,2,3,4,5,6,7,8,9
0,842094.000000,0.421281,0.244611,0.307098,0.610729,0.894644,0.017900,0.104352,0.722917,0.579754
1,0.021408,0.436447,0.094590,0.914505,0.857637,0.028943,0.694315,0.689316,0.853591,0.812431
2,0.244698,0.737513,0.656931,0.197967,0.418276,0.928330,0.105182,0.211401,0.529216,0.716522
3,0.376238,0.435205,0.795123,0.868165,0.465144,0.133316,0.114560,0.844243,0.967258,0.301867
4,0.396694,0.211474,0.892784,0.639511,0.349149,0.759775,0.485316,0.744836,0.982260,0.393332
...,...,...,...,...,...,...,...,...,...,...
435,0.260363,0.077710,0.263863,0.717910,0.210479,0.621630,0.114091,0.319698,0.723810,0.275480
436,0.775572,0.110352,0.908683,0.476713,0.216478,0.461850,0.696601,0.230427,0.153261,0.409006
437,0.433853,0.035438,0.691420,0.295430,0.909855,0.195978,0.415472,0.727990,0.114319,0.246663
438,0.099796,0.230397,0.134019,0.198831,0.749351,0.010538,0.706376,0.766172,0.239256,0.906320
439,0.233497,0.376729,0.970322,0.840117,0.953260,0.581188,0.612915,0.161890,0.299395,0.899230